
/*  GLOBAL  */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --moderate-violet-color: #7441C7;
  --very-dark-grayish-blue: #48556A;
  --very-dark-blackish-blue: #19202E;
  /* ### Neutral */
  --light-gray: #CECECE;
  --light-grayish-blue: #ECF2F8;
}

body {
  font-size: 13px;
  font-weight: 500;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: var(--light-grayish-blue);
  letter-spacing: .5px;
  line-height: 1.1;

}

/* Bootstrap */

.margin-tb {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.padding-bottom{
  padding-bottom: 16px;
}

.padding{
  padding: 2rem;
}

.padding-left {
  padding-left: 16px;
}

.h2-bold, .h2-bold-dark {
  font-size: 1.2rem;
  line-height: 1.4;
}

.radius {
  border-radius: 10px;

}

.flex {
  display: flex;
  align-items: center;
}

p {
  opacity: 50%;
  line-height: 1.5;
  padding-top: 1.2rem;
}

img {
  border-radius: 50%;
  -webkit-box-shadow: 0px -1px 10px -1px rgba(255,255,255,1);
  -moz-box-shadow: 0px -1px 10px -1px rgba(255,255,255,1);
  box-shadow: 0px -1px 10px -1px rgba(255,255,255,1);
  width: 3vw;
}

.Verified{
  color: inherit;
  opacity: 50%;
}

.shadow{
  box-shadow: 45px 56px 51px -58px rgba(102,102,102,0.36);
}

.line-h{
  line-height: 1.4;
}

/*---------------------
*/

.daniel-box {
  position: relative;
  background-color: var(--moderate-violet-color);
  color: white;
}

.daniel-box .quote{
  border-radius: 0;
  position: absolute;
  right: 35px;
  top: 0;
  width: 21%;
  opacity: .8;
  box-shadow: none;
}

.daniel-box h2 {
  padding-top: 1.5rem;
}

.header-daniel {
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.daniel-box .name-daniel{
  padding-left: 1rem;
}

.jonathan-box{
  background-color: var(--very-dark-grayish-blue);
  color: white;
}

.jeanette-box{
  background-color: white;
  color: var(--very-dark-grayish-blue);
}

.patrick-box{
  background-color: var(--very-dark-blackish-blue);
  color: white;

}

.kira-box{
  background-color: white;
  color: var(--very-dark-grayish-blue);
}

/* Mobile Querries */

@media (max-width: 600px) {
  .main-wrapper {
    margin: 15% 7%;
    display: grid;
    grid-column: 1fr;

  }

  img {
    width: 7vw;
  }

}

@media (min-width: 1280px) {

  body {
    font-size: 16px;
  }

  .padding{
    padding: 2rem;
  }

  .margin-tb {
    margin: 0;
  }

  .main-wrapper {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 5% auto;


  }

  .daniel-box {
    grid-column: 1/3;
  }

  .daniel-box .quote{
    right: 55px;
  }

  .kira-box {
    grid-column: 4;
    grid-row: 1/3;
  }

  .patrick-box {
    grid-column: 2/4;
  }


}
